@import '../Variables.scss';

.heroButtons .mainButton {
  display: none;
}

@media screen and (min-device-width: 600px) {
  #appbar {
    display: none;
  }

  .heroButtons .mainButton {
    background-color: $dark-green;
    color: white;
    display: block;
  }
}

.heroButtons > .mainButton:hover {
  background-color: $light-green;
}

.heroButtons {
  margin: 0;
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.cardGrid .card * {
  font-family: BellotaText, Arial, Helvetica, sans-serif;
}

.card .cardButton {
  color: #fa198b;
  padding: 0.5em;
  border-radius: 5px;
}

.cardGrid {
  padding: 1.5em 0;
}

.albumGrid .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3),
    2px 2px 4px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-out;
}

.albumGrid .card:hover {
  transform: translate(-1px, -2px);
  box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.3);
}

.cardMedia {
  padding-top: 56.25%; /* 16:9*/
  padding-top: 80%; /* 16:9*/
}
.card .cardContent {
  flex-grow: 1;
  padding: 1em 1em 0 1em;
}

.card .cardTitle {
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
}

.card .cardText {
  text-align: left;
  color: $card-text-color;
  font-size: 0.83rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardActions {
  justify-content: space-between;
}

.footer {
  padding: 6px;
}
.toolbar {
  background-color: $light-green;
}

.footer {
  background-color: $light-green;
  color: $footer-text-color;
}

.icon {
  margin-right: 0.5em;
}
