.heroButtons > .mainButton {
  display: none;
}

@media screen and (min-device-width: 600px) {
  #appbar {
    display: none;
  }

  .heroButtons > .mainButton {
    background-color: #143109;
    color: white;
    display: block;
  }
}

.heroButtons > .mainButton:hover {
  background-color: #5d9e0e;
}

.heroButtons {
  margin: 0;
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.cardButton {
  color: #fa198b;
}

.heroContent {
  background-image: url("http://localhost:3000/assets/images/hero-image-cut.jpg");
  background-size: cover;
  padding: 8px 0px 6px;
  height: 30vh;
  position: relative;
}

.cardGrid {
  padding: 0.5em 0;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cardMedia {
  padding-top: 56.25%; /* 16:9*/
}
.cardContent {
  flex-grow: 1;
}
.footer {
  padding: 6px;
}
.toolbar {
  background-color: #143109;
}

.icon {
  margin-right: 0.5em;
}
