.hero-content.not-found__hero {
  background-image: url("/candy/assets/images/not-found-small.jpg");
}

@media screen and (min-device-width: 600px) {
  .hero-content.not-found__hero {
    background-image: url("/candy/assets/images/not-found-medium.jpg");
  }
}

.not-found__container {
  font-size: 1rem;
  text-align: center;
  padding: 1em;
}

.not-found__container .icon-link {
  justify-content: center;
}

.not-found__container .icon {
  margin-right: 0;
}

@media screen and (min-device-width: 600px) {
  .not-found__container .icon {
    margin-right: 5px;
  }
}
