body {
  background-color: rgba(250, 201, 184, 0.3);
  font-size: 16px;
  font-family: BellotaText, Arial, Helvetica, sans-serif;
}

body a {
  text-decoration: none;
  color: #fa198b;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.switch {
  flex: 1;
}

.footerText {
  display: flex;
  justify-content: center;
}
