@import './Variables.scss';

body {
  background-color: $body-background;
  font-size: 16px;
  font-family: BellotaText, Arial, Helvetica, sans-serif;
}

body a {
  text-decoration: none;
  color: $bright-red;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.switch {
  flex: 1;
}

.footerText {
  display: flex;
  justify-content: center;
}

@media screen and(min-device-width: 600px) {
  #appbar {
    display: none;
  }
}
